.user-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
  max-width: 500px;
  text-align: left;
  transition: box-shadow 0.3s ease;
}



.avatar {
  margin-right: 20px;
  flex-shrink: 0;
}

.avatar img {
  border-radius: 50%;
}

.user-info h3 {
  margin: 0 0 10px 0;
  color: #222;
}

.user-info p {
  margin: 4px 0;
  font-size: 0.9rem;
  color: #555;
}

.user-info p span {
  color: #333;
  font-weight: bold;
}
