
.container {
  padding: 40px;
  min-height:100vh ;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color:black;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

